<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <filter>
    <filter-name>AllFilter</filter-name>
    <filter-class>filter.AllFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AllFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserShopping</servlet-name>
    <servlet-class>servlet.UserShopping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserShopping</servlet-name>
    <url-pattern>/UserShopping</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProListServlet</servlet-name>
    <servlet-class>servlet.ProListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProListServlet</servlet-name>
    <url-pattern>/ProListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductViewServlet</servlet-name>
    <servlet-class>servlet.ProductViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductViewServlet</servlet-name>
    <url-pattern>/ProductViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppServlet</servlet-name>
    <servlet-class>servlet.ShoppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppServlet</servlet-name>
    <url-pattern>/ShoppServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>servlet.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/ProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProLisPagServlet</servlet-name>
    <servlet-class>servlet.ProLisPagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProLisPagServlet</servlet-name>
    <url-pattern>/ProLisPagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuestBookServlet</servlet-name>
    <servlet-class>servlet.GuestBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestBookServlet</servlet-name>
    <url-pattern>/GuestBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuestContentServlet</servlet-name>
    <servlet-class>servlet.GuestContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestContentServlet</servlet-name>
    <url-pattern>/GuestContentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsViewServlet</servlet-name>
    <servlet-class>servlet.NewsViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsViewServlet</servlet-name>
    <url-pattern>/NewsViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageIndexServlet</servlet-name>
    <servlet-class>servlet.manage.ManageIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageIndexServlet</servlet-name>
    <url-pattern>/manage/ManageIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageProductServlet</display-name>
    <servlet-name>ManageProductServlet</servlet-name>
    <servlet-class>servlet.manage.ManageProductServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>ManageProductServlet</param-name>
      <param-value>servlet.manage.ManageProductServlet</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageProductServlet</servlet-name>
    <url-pattern>/manage/ManageProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageOrderServlet</display-name>
    <servlet-name>ManageOrderServlet</servlet-name>
    <servlet-class>servlet.manage.ManageOrderServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>ManageOrderServlet</param-name>
      <param-value>servlet.manage.ManageOrderServlet</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageOrderServlet</servlet-name>
    <url-pattern>/manage/ManageOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageGuestServlet</display-name>
    <servlet-name>ManageGuestServlet</servlet-name>
    <servlet-class>servlet.manage.ManageGuestServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>ManageGuestServlet</param-name>
      <param-value>servlet.manage.ManageGuestServlet</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageGuestServlet</servlet-name>
    <url-pattern>/manage/ManageGuestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageNewsServlet</display-name>
    <servlet-name>ManageNewsServlet</servlet-name>
    <servlet-class>servlet.manage.ManageNewsServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>ManageNewsServlet</param-name>
      <param-value>servlet.manage.ManageNewsServlet</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageNewsServlet</servlet-name>
    <url-pattern>/manage/ManageNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageClassServlet</display-name>
    <servlet-name>ManageClassServlet</servlet-name>
    <servlet-class>servlet.manage.ManageClassServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>ManageClassServlet</param-name>
      <param-value>servlet.manage.ManageClassServlet</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageClassServlet</servlet-name>
    <url-pattern>/manage/ManageClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUplondServlet</display-name>
    <servlet-name>ManageUplondServlet</servlet-name>
    <servlet-class>servlet.manage.ManageUplondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUplondServlet</servlet-name>
    <url-pattern>/manage/ManageUplondServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserFilter</display-name>
    <filter-name>UserFilter</filter-name>
    <filter-class>filter.UserFilter</filter-class>
    <init-param>
      <description></description>
      <param-name>UserFilter</param-name>
      <param-value>filter.UserFilter</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/manage/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddressServlet</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>servlet.AddressServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>AddressServlet</param-name>
      <param-value>servlet.AddressServlet</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/AddressServlet</url-pattern>
  </servlet-mapping>
</web-app>